{% extends 'base.html.twig' %}
{% block title %}Liste des Burgers - CRUDcroustillant{% endblock %}
        
{% block body %}
    <h1>Liste des burgers</h1>
    <p>voici une listes composer de nos différents burger</p>
    <ul>
        <li> Smash burger</li>
        <li>burger briocher</li>
        <li>Chiken avocado</li>
        <li>Paule Burger</li>
    </ul>
{% endblock %}
